<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
<body>
  <%- include('layouts/navbar') -%>

  <div class="container-main card p-5 mt-2 mb-5">
      <h1 class="display-2 mt-2">About Page</h1>
      <hr />
      <p class="lead">
        What inspired this site was to make a place where you 
        don't have to have a social media account to share with 
        family or be exposed to hackers. We just want to share 
        memories and keep in touch, right? Well I have implemented
        that idea to keep it more private, and you decide who is 
        VIP for your photos.
        <br><br>
        We currently have several members that keep their stuff private 
        and only share with their family, unless they choose to make it 
        public. We are moreso of a private agency that builds apps as a 
        web design & development. Once a need is identified we go after it 
        and also get business by referrals from previous or current clients.
        <br><br>
        When you sign up and upload your photos, it is backed up 
        by MongoDB, a database that scales as you grow. If you want 
        to learn more about the database we use, you can read more 
        on these links: 
        <a href="https://www.mongodb.com/" target="_blank">Official website</a> /
        <a href="https://www.g2.com/products/mongodb-atlas/reviews" target="_blank">Reviews</a>
        <br><br>
        This site uses and supports Material Design with Bootstrap5 layouts 
        and frameworks. If you want to know more about them you can find out 
        by visiting their website, <a href="https://mdbootstrap.com/docs/" target="_blank">https://mdbootstrap.com/docs/ </a>. 
      </p>
      <br>
      <h1>
        Contact Us
        <a href="mailto:stephenbrooks714@gmail.com" class="btn btn-light">send email</a>
      </h1>
  </div>
  <%- include('layouts/footer') -%>
</body>
<!-- MDB -->
<%- include('layouts/scripts') -%>
</html>